@tailwind base;

.article p {
  @apply py-5;
}

.article ul {
  @apply list-disc list-inside pl-8 pt-5 pb-2;
}

.article ul li {
  @apply pb-3;
}

.article h2 {
  @apply text-blue-800 text-3xl font-inter_bold pb-5;
}

.article h3 {
  @apply text-blue-500 text-2xl font-inter_bold pt-10 pb-5;
}

.article h4 {
  @apply text-blue-500 text-xl font-inter_medium pt-5 pb-5;
}

h4 {
  @apply text-blue-500 text-xl font-inter_medium pt-5 pb-5;
}

.article a {
  @apply text-blue-500;
}

.article img {
  @apply mb-5;
}

.article strong {
  @apply font-inter_medium;
}

@font-face {
  font-family: "inter_black";
  src: url("Inter-Black.woff") format("woff"),
    url("Inter-Black.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "inter_black_italic";
  src: url("Inter-BlackItalic.woff") format("woff"),
    url("Inter-BlackItalic.woff2") format("woff2");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "inter_bold";
  src: url("Inter-Bold.woff") format("woff"),
    url("Inter-Bold.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "inter_bold_italic";
  src: url("Inter-BoldItalic.woff") format("woff"),
    url("Inter-BoldItalic.woff2") format("woff2");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "inter_extrabold";
  src: url("Inter-ExtraBold.woff") format("woff"),
    url("Inter-ExtraBold.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "inter_extrabold_italic";
  src: url("Inter-ExtraBoldItalic.woff") format("woff"),
    url("Inter-ExtraBoldItalic.woff2") format("woff2");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "inter_extralight";
  src: url("Inter-ExtraLight.woff") format("woff"),
    url("Inter-ExtraLight.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "inter_extralight_italic";
  src: url("Inter-ExtraLightItalic.woff") format("woff"),
    url("Inter-ExtraLightItalic.woff2") format("woff2");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "inter_italic";
  src: url("Inter-Italic.woff") format("woff"),
    url("Inter-Italic.woff2") format("woff2");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "inter_light";
  src: url("Inter-Light.woff") format("woff"),
    url("Inter-Light.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "inter_light_italic";
  src: url("Inter-LightItalic.woff") format("woff"),
    url("Inter-LightItalic.woff2") format("woff2");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "inter_medium";
  src: url("Inter-Medium.woff") format("woff"),
    url("Inter-Medium.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "inter_medium_italic";
  src: url("Inter-MediumItalic.woff") format("woff"),
    url("Inter-MediumItalic.woff2") format("woff2");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "inter_regular";
  src: url("Inter-Regular.woff") format("woff"),
    url("Inter-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "inter_semibold";
  src: url("Inter-SemiBold.woff") format("woff"),
    url("Inter-SemiBold.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "inter_semibold_italic";
  src: url("Inter-SemiBoldItalic.woff") format("woff"),
    url("Inter-SemiBoldItalic.woff2") format("woff2");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "inter_thin";
  src: url("Inter-Thin.woff") format("woff"),
    url("Inter-Thin.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "inter_thin_italic";
  src: url("Inter-ThinItalic.woff") format("woff"),
    url("Inter-ThinItalic.woff2") format("woff2");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "roboto_slabregular";
  src: url("RobotoSlab-Regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@tailwind components;

@tailwind utilities;
