---
title: Projects
layout: layout.njk
pagination:
  data: collections.projectsAlpha
  size: 10
  alias: items
---

{% include "paging-buttons-top.njk" %}

<div class="font-inter_regular text-gray-700 pb-12">
  A partial list of projects completed at Randall Library
</div>

<div class="divide-y divide-gray-400">
{% set bg = cycler("bg-white", "bg-white") %}
{% for item in items %}

    {% if loop.first %}
      <article class="{{ bg.next() }} w-full pb-24">
    {% else %}
      <article class="{{ bg.next() }} w-full py-24">
    {% endif %} 
    
    <div class="mb-4">
      {% img 'full', item.data.img, 'png', 'Randall Library project' %}
    </div>
    <h3 class="w-full text-3xl font-inter_bold text-blue-500 text-center py-6">
      <a href="{{ env.baseUrl }}{{ item.url }}">{{ item.data.title }}</a>
    </h3>
    <div class="lg:w-4/5 font-inter_regular text-gray-700 text-lg text-justify mx-auto">
      {{ item.templateContent | safe }}
    </div>
    </article>

{% endfor %}
</div>

{% include "paging-buttons-bottom.njk" %}