---
layout: layout.njk
---

<div class="lg:flex">
  <div class="lg:w-2/5">
    <div class="hidden lg:block mb-0 ">
      {% img 'half', 'dog1', 'png', 'Dog Smile Factory mascot' %}
    </div>
  </div>
  <div class="lg:w-3/5 lg:pl-12 text-lg font-inter_regular text-gray-700 leading-normal text-justify">
    <p class="text-2xl font-inter_medium pr-4 mb-20">
      Sorry, this page could not be found.
  </div>
</div>


