---
layout: layout.njk
---

<div class="lg:flex">
  <div class="lg:w-2/5">
    <div class="hidden lg:block mb-0 ">
      {% img 'half', 'dog1', 'png', 'Dog Smile Factory mascot' %}
    </div>
  </div>
  <div class="lg:w-3/5 lg:pl-12 text-lg font-inter_regular text-gray-700 leading-normal text-justify">
    <p class="mb-20">
      <span class="text-2xl font-inter_medium pr-4">
        Hi, my name is Bob.
      </span>
      I've been a software developer for many years. For me, programming
      leads to that wonderful state of flow, where you are completely
      and happily immersed in the thing you are doing. I enjoy building
      applications that have Laravel back ends and React front ends. I'm
      also pretty good with databases and content management systems.
    </p>
  </div>
</div>
