<header class="bg-gray-50 py-2">
  <div class="flex flex-col lg:flex-row w-full lg:justify-between lg:px-10 xl:px-32 py-3">

    <div class="flex lg:justify-start pb-4 lg:pb-0">
        <a href="/" class="flex flex-col lg:flex-row w-full text-center lg:text-left">
          <h1 class="self-center font-inter_bold text-3xl text-blue-900 no-underline">
            Bob Humphrey
          </h1>
          <div class="self-center font-inter_light text-3xl text-blue-500 lg:pl-4">
            Web Developer
          </div>
        </a>
    </div>

    <div class="flex flex-col lg:flex-row lg:justify-end text-lg font-inter_light lg:text-xl text-blue-900 leading-none pb-8 lg:pb-0">
      <a href="{{ env.baseUrl }}/experience" 
      class="{{ 'text-blue-500' if '/experience' in page.url }} hover:text-blue-500 self-center no-underline px-2 py-2">
        Experience
      </a>
      <a href="{{ env.baseUrl }}/work" 
      class="{{ 'text-blue-500' if '/work' in page.url }} hover:text-blue-500 self-center no-underline px-2 py-2">
        Work
      </a>
      <a href="{{ env.baseUrl }}/projects" 
      class="{{ 'text-blue-500' if '/projects' in page.url }} hover:text-blue-500 self-center no-underline px-2 py-2">
        Projects
      </a>
      <a href="{{ env.baseUrl }}/skills" 
      class="{{ 'text-blue-500' if '/skills' in page.url }} hover:text-blue-500 self-center no-underline px-2 py-2">
        Skills
      </a>
      <a href="{{ env.baseUrl }}/articles" 
      class="{{ 'text-blue-500' if '/articles' in page.url }} hover:text-blue-500 self-center no-underline px-2 py-2">
        Articles
      </a>
    </div>
  </div>
</header>
