<!doctype html>

<html lang="en">
  <head>
    <meta charset="utf-8">

    <title>{{ env.title }}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content={{ env.description }}>

    <meta name="author" content={{ env.author }}>

    <link rel="stylesheet" href="{{ env.baseUrl }}/css/tailwind.css"/>
    <link rel="stylesheet" href="{{ env.baseUrl }}/css/prism.css"/>

    {% include "matomo.njk" %}

  </head>

  <body>
    <div class="">
      {% include "header.njk" %}
        {{ content | safe }}
      {% include "footer.njk" %}
    </div>
  </body>
</html>