{% set bg = cycler("bg-white", "bg-gray-50") %}
{% for item in items %}

    {% if loop.first %}
      <article class="{{ bg.next() }} w-full pb-24">
    {% else %}
      <article class="{{ bg.next() }} w-full py-24">
    {% endif %} 
    
      <div class="w-5/6 lg:w-1/2 mx-auto">
        <div class="rounded-lg shadow-lg mb-8 border-8 border-white">
          <picture>
            <source media="(max-width: 300px)"
              srcset="/img/webp-300/projects/{{ item.data.img }}.webp" type="image/webp">
            <source media="(max-width: 400px)"
              srcset="/img/webp-400/projects/{{ item.data.img }}.webp" type="image/webp">
            <source media="(max-width: 500px)"
              srcset="/img/webp-500/projects/{{ item.data.img }}.webp" type="image/webp">
            <source media="(min-width: 501px)" 
              srcset="/img/webp/projects/{{ item.data.img }}.webp" type="image/webp">
            <source media="(max-width: 300px)"
              srcset="/img/img-300/projects/{{ item.data.img }}.png">
            <source media="(max-width: 400px)"
              srcset="/img/img-400/projects/{{ item.data.img }}.png">
            <source media="(max-width: 500px)"
              srcset="/img/img-500/projects/{{ item.data.img }}.png">
            <img src="/img/original/projects/{{ item.data.img }}.png" loading="lazy" alt="Randall Library project">
          </picture>
        </div>
        <h3 class="w-full text-3xl font-inter_bold text-blue-500 text-center py-6">
          <a href="{{ env.baseUrl }}{{ item.url }}">{{ item.data.title }}</a>
        </h3>
        <div class="lg:w-4/5 font-inter_regular text-gray-700 text-lg text-justify mx-auto">
          {{ item.templateContent | safe }}
        </div>
      </div>
    </article>
{% endfor %}