<div class="grid grid-cols-2 pb-3">
  <div class="col-span-1 flex projects-center">
    <h2 class="text-3xl font-inter_bold text-blue-800 leading-none m-0">
      {{ title }}
    </h2>
  </div>
  {% include "paging-buttons.njk" %}
</div>