<div class="col-span-1 flex projects-center font-inter_light text-white text-sm">
    <div class="flex justify-end w-full">
      {% if pagination.href.previous %}
        <div class="text-center bg-gray-600 hover:bg-blue-500 rounded-lg px-2 py-1 mr-2">
          <a href="{{ env.baseUrl }}{{ pagination.href.previous }}"
          class="cursor-pointer" >
            Prev
          </a>
        </div>
      {% endif %}
      {% if pagination.href.next %}
        <div class="text-center bg-gray-600 hover:bg-blue-500 rounded-lg px-2 py-1 mr-2">
          <a href="{{ env.baseUrl }}{{ pagination.href.next }}"
          class="cursor-pointer" >
            Next
          </a>
        </div>
      {% endif %}
    </div>
  </div>