---
layout: layout.njk
---

<article>
  <h2 class="text-3xl font-inter_bold text-blue-800 leading-none mb-8">
    {{ title }}
  </h2>
  <div class="mb-12">
    {% img 'full', img, 'png', 'Randall Library project' %}
  </div>
  <div class="lg:w-4/5 font-inter_regular text-gray-700 text-lg text-justify mx-auto">
    {{ content | safe }}
  </div>
</article>
