---
layout: layout.njk
---

<article>
  <h2 class="text-3xl font-inter_bold text-blue-800 leading-none mb-8">
    {{ title }}
  </h2>
  <div class="mb-12">
    {% img 'full', img, 'png', title %}
  </div>
  <div class="lg:w-4/5 font-inter_regular text-gray-700 text-lg text-justify mx-auto">
    {{ content | safe }}
  </div>

  {# CATEGORIES #}
  <div class="hidden md:flex justify-center font-inter_light text-sm text-gray-700 pt-4">
    {% for item in categories %}
      <div class="text-center px-1 py-1 mr-2 mb-4">
        {{ item }}
      </div>
    {% endfor %}
  </div>

  {# LINKS TO APPLICATIONS, CODE, AND ARTICLES #}
  <div class="flex justify-center font-inter_regular text-sm pt-6 md:pt-0">
    <div class="text-gray-800 hover:text-blue-500 px-2 py-1 mr-2">
      <a
        class=""
        href={{url }}
        target="_blank"
        rel="noopener noreferrer"
      >
        Visit Site
      </a>
    </div>
    <div class="text-gray-800 hover:text-blue-500 px-2 py-1 mr-2">
      <a
        class=""
        href={{ code_url }}
        target="_blank"
        rel="noopener noreferrer"
      >
        View Code
      </a>
    </div>
    {% if additional_code_url %}
      <div class="text-gray-800 hover:text-blue-500 px-2 py-1 mr-2">
      <a
        class=""
        href={{ additional_code_url }}
        target="_blank"
        rel="noopener noreferrer"
      >
        Additional Code
      </a>
    </div>
    {% endif %}
    {% if learn_more_url %}
      <div class="text-gray-800 hover:text-blue-500 px-2 py-1">
      <a
        class=""
        href={{ learn_more_url }}
        target="_blank"
        rel="noopener noreferrer"
      >
        Learn More
      </a>
    </div>
    {% endif %}
  </div>
</article>
