---
layout: layout.njk
---

<h2 class="text-3xl font-inter_bold text-blue-800 leading-none mb-10">
  Experience
</h2>
<h3 class="text-2xl font-inter_bold text-blue-500 mb-6">
  University of North Carolina Wilmington (2011-2017)
</h3>

<div class="font-inter_regular text-lg text-gray-700 text-justify leading-normal">
  <p class="mb-4">
    For 6 years I was the Web and Applications Developer for
    <a
      class="text-blue-500"
      href="https://library.uncw.edu/"
      target="_blank"
      rel="noopener noreferrer"
    >
      Randall Library 
    </a>
    at
    <a
      class="text-blue-500"
      href="https://uncw.edu/"
      target="_blank"
      rel="noopener noreferrer"
    >
      The University of North Carolina Wilmington
    </a>.
    This is a busy academic library that sees 6 to 7,000 students
    come through its doors on a daily basis, with several thousand
    more visiting its website.
  </p>
  <p>
    I was the library's only coder, and I was responsible for the full
    stack -- front end, back end, and servers. I completed
    <a class="text-blue-500" href="/projects">
      dozens of projects
    </a>
    that helped the university's students and faculty make better use
    of their library. In the process of doing this, I put together a
    pretty extensive
    <a class="text-blue-500" href="/skills">
      set of skills
    </a>.
  </p>

  <div class="grid grid-cols-2 lg:grid-cols-3 gap-4 mt-6 pb-12 ">
    {% img 'half', 'L1', 'jpg', 'Randall Library' %}
    {% img 'half', 'L2', 'jpg', 'Randall Library' %}
    {% img 'half', 'L3', 'jpg', 'Randall Library' %}
    {% img 'half', 'L4', 'jpg', 'Randall Library' %}
    {% img 'half', 'L5', 'jpg', 'Randall Library' %}
    {% img 'half', 'L6', 'jpg', 'Randall Library' %}
    {% img 'half', 'L7', 'jpg', 'Randall Library' %}
    {% img 'half', 'L8', 'jpg', 'Randall Library' %}
    {% img 'half', 'L9', 'jpg', 'Randall Library' %}
    {% img 'half', 'L10', 'jpg', 'Randall Library' %}
    {% img 'half', 'L11', 'jpg', 'Randall Library' %}
    {% img 'half', 'L12', 'jpg', 'Randall Library' %}
  </div>

  <h3 class="text-2xl font-inter_bold text-blue-500 mb-6">
    Roadway Express (1983-2007)
  </h3>
  <p class="mb-4">
    During the years I worked at Roadway Express, it was one of the
    largest trucking companies in the country, with over 30,000 employees
    and more than 600 terminals located coast to coast. Today it is part
    of the trucking giant
    <a class="text-blue-500" href="http://yrc.com/" target="_blank" rel="noopener noreferrer">
      YRC Freight
    </a>
    .
  </p>
  <p>
    Some of my titles at Roadway included Business Systems Analyst and
    Technical Team Lead. I was responsible for determining business
    requirements and putting together technical direction for a group of
    about twelve developers, building a variety of applications for the
    company's thousand member national sales force.
  </p>

  <div class="grid grid-cols-2 lg:grid-cols-3 gap-4 mt-6">
    {% img 'half', 'Rex1', 'jpg', 'Roadway Express' %}
    {% img 'half', 'Rex2', 'jpg', 'Roadway Express' %}
    {% img 'half', 'Rex3', 'jpg', 'Roadway Express' %}
  </div>

</div>

