---
title: Recent Work
layout: layout.njk
pagination:
  data: collections.work
  size: 10
  alias: works
  reverse: true
---

<div class="pb-6">
  {% include "paging-buttons-top.njk" %}
</div>

<div class="divide-y divide-gray-400">
{% set bg = cycler("bg-white", "bg-white") %}
{% for work in works %}

    {% if loop.first %}
      <article class="{{ bg.next() }} w-full pb-24">
    {% else %}
      <article class="{{ bg.next() }} w-full py-24">
    {% endif %} 
    
      <div class="">
        <div class="mb-4">
          {% img 'full', work.data.img, 'png', work.data.title %}
        </div>
        <h3 class="w-full text-3xl font-inter_bold text-blue-500 text-center py-6">
          <a href="{{ env.baseUrl }}{{ work.url }}">{{ work.data.title }}</a>
        </h3>
        <div class="lg:w-4/5 font-inter_regular text-gray-700 text-lg text-justify mx-auto">
          {{ work.templateContent | safe }}
        </div>

        {# CATEGORIES #}
        <div class="hidden md:flex justify-center font-inter_light text-sm text-gray-700 pt-4">
          {% for item in work.data.categories %}
            <div class="text-center px-1 py-1 mr-2 mb-4">
              {{ item }}
            </div>
          {% endfor %}
        </div>

        {# LINKS TO APPLICATIONS, CODE, AND ARTICLES #}
        <div class="flex justify-center font-inter_regular text-sm pt-6 md:pt-0">
          <div class="text-gray-800 hover:text-blue-500 px-2 py-1 mr-2">
            <a
              class=""
              href={{ work.data.url }}
              target="_blank"
              rel="noopener noreferrer"
            >
              Visit Site
            </a>
          </div>
          <div class="text-gray-800 hover:text-blue-500 px-2 py-1 mr-2">
            <a
              class=""
              href={{ work.data.code_url }}
              target="_blank"
              rel="noopener noreferrer"
            >
              View Code
            </a>
          </div>
          {% if work.data.additional_code_url %}
            <div class="text-gray-800 hover:text-blue-500 px-2 py-1 mr-2">
            <a
              class=""
              href={{ work.data.additional_code_url }}
              target="_blank"
              rel="noopener noreferrer"
            >
              Additional Code
            </a>
          </div>
          {% endif %}
          {% if work.data.learn_more_url %}
            <div class="text-gray-800 hover:text-blue-500 px-2 py-1">
            <a
              class=""
              href={{ work.data.learn_more_url }}
              target="_blank"
              rel="noopener noreferrer"
            >
              Learn More
            </a>
          </div>
          {% endif %}
        </div>
      </div>
    </article>

{% endfor %}
</div>

{% include "paging-buttons-bottom.njk" %}