<h2 class="text-3xl font-inter_bold text-blue-800 leading-none mb-8">
  Articles
</h2>

<div>
  {%- for article in collections.article | reverse -%}

    <div class="text-lg font-inter_regular mb-6">
      <a href="{{ article.url }}">
        <div class="grid md:grid-cols-5">
          <div class="md:col-span-4 text-gray-700 hover:text-blue-500">{{ article.data.title }}</div>
          <div class="md:col-span-1 md:text-right text-gray-700 hover:text-blue-500">
            {{ article.data.date | dateMMMDYYYY }}
          </div>
        </div>
      </a>
    </div>

  {%- endfor -%}
</div>